<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/10_12_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CREATE TEMP TABLE temp_table AS
SELECT *
FROM "paylocityPositionHistory" pph
JOIN "survey_test" st
ON EXTRACT(YEAR FROM CAST(pph."Position Effective Date" AS DATE)) = EXTRACT(YEAR FROM st."startDate")
AND EXTRACT(MONTH FROM CAST(pph."Position Effective Date" AS DATE)) = EXTRACT(MONTH FROM st."startDate")
WHERE (pph."jobTitle" = 'Director of Nursing' OR pph."jobTitle" = 'Executive Director')
AND EXTRACT(YEAR FROM CAST(pp

In [ ]:
CREATE TEMP TABLE temp_table AS
SELECT *
FROM "paylocityPositionHistory" pph
JOIN "survey_test" st
ON EXTRACT(YEAR FROM CAST(pph."Position Effective Date" AS DATE)) = EXTRACT(YEAR FROM st."startDate")
AND EXTRACT(MONTH FROM CAST(pph."Position Effective Date" AS DATE)) = EXTRACT(MONTH FROM st."startDate")
WHERE (pph."jobTitle" = 'Director of Nursing' OR pph."jobTitle" = 'Executive Director')
AND EXTRACT(YEAR FROM CAST(pp

In [ ]:
CASE
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe Franklin TN' THEN 'FKTL'
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe Louisville' THEN 'LVLL'
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe of Chattanooga' THEN 'CHTL'
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe of Clinton' THEN 'CLIN'
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe of Collegedale' THEN 'CGDL'
    WHEN [Cost Center 1 Description] = 'LANTERN AT MORNING POINTE OF FRANKFORT' THEN 'FRKL'
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe of Knoxville' THEN 'KNXL'
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe of Lenoir City' THEN 'LENL'
    WHEN [Cost Center 1 Description] = 'LANTERN AT MORNING POINTE OF LEXINGTON' THEN 'LEXL'
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe of Powell' THEN 'PWLL'
    WHEN [Cost Center 1 Description] = 'LANTERN AT MORNING POINTE OF RUSSELL' THEN 'RUSL'
    WHEN [Cost Center 1 Description] = 'Lantern at Morning Pointe of Spring Hill' THEN 'SPRL'
    WHEN [Cost Center 1 Description] = 'LEXL' THEN 'LEXL'
    WHEN [Cost Center 1 Description] = 'Morning Pointe at Happy Valley' THEN 'HPPY'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Athens' THEN 'ATHS'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Brentwood' THEN 'BRWD'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Calhoun' THEN 'CALH'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Chattanooga' THEN 'CHTT'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Columbia' THEN 'COLM'
    WHEN [Cost Center 1 Description] = 'MORNING POINTE OF DANVILLE' THEN 'DANV'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of East Hamilton' THEN 'EHAM'
    WHEN [Cost Center 1 Description] = 'MORNING POINTE OF FRANKFORT' THEN 'FRKT'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Franklin' THEN 'FRLN'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Franklin TN' THEN 'FKTN'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Greenbriar' THEN 'GRNB'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Greeneville' THEN 'GRNV'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Hardin Valley' THEN 'HARD'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Hixson' THEN 'HIXN'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Knoxville' THEN 'KNOX'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Lenoir City' THEN 'LENC'
    WHEN [Cost Center 1 Description] = 'MORNING POINTE OF LEXINGTON' THEN 'LEXN'
    WHEN [Cost Center 1 Description] = 'MORNING POINTE OF LEXINGTON EAST' THEN 'LEXE'
    WHEN [Cost Center 1 Description] = 'MORNING POINTE OF LOUISVILLE' THEN 'LVLM'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Powell' THEN 'POWL'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Richmond' THEN 'RICH'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Russell' THEN 'RUSS'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Spring Hill' THEN 'SPRH'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Tullahoma' THEN 'TULA'
    WHEN [Cost Center 1 Description] = 'Morning Pointe of Tuscaloosa' THEN 'TUSC'
    ELSE [Cost Center 1 Description]
END AS community_code

In [1]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Carol'],
        'Age': [25, 30, 27],
        'Gender': ['F', 'M', 'F']}
df = pd.DataFrame(data)

df['Salary'] = [50000, 60000, 52000]

filtered_df = df[df['Age'] > 26]
print(filtered_df)

    Name  Age Gender  Salary
1    Bob   30      M   60000
2  Carol   27      F   52000

In [2]:
data = {'Name': ['Alice', 'Bob', 'Carol', 'David'],
        'Department': ['HR', 'Finance', 'HR', 'Finance'],
        'Salary': [50000, 60000, 52000, 65000]}
df = pd.DataFrame(data)

grouped = df.groupby('Department')['Salary'].mean()

highest_salary_dept = grouped.idxmax()
print(highest_salary_dept)

Finance

In [3]:
dates = pd.date_range(start='today', periods=7)

date_df = pd.DataFrame(dates, columns=['Date'])

date_df['Weekday'] = date_df['Date'].dt.day_name()
print(date_df)

                        Date    Weekday
0 2023-10-13 03:56:53.546602     Friday
1 2023-10-14 03:56:53.546602   Saturday
2 2023-10-15 03:56:53.546602     Sunday
3 2023-10-16 03:56:53.546602     Monday
4 2023-10-17 03:56:53.546602    Tuesday
5 2023-10-18 03:56:53.546602  Wednesday
6 2023-10-19 03:56:53.546602   Thursday