<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/10_23_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
CREATE TABLE books (
    book_id SERIAL PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    published_date DATE,
    isbn VARCHAR(13)
);

In [ ]:
INSERT INTO books (title, author, published_date, isbn)
VALUES ('The Great Gatsby', 'F. Scott Fitzgerald', '1925-04-10', '9780743273565');

In [ ]:
SELECT * FROM books WHERE author = 'F. Scott Fitzgerald';

In [ ]:
UPDATE books
SET published_date = '1925-04-10'
WHERE title = 'The Great Gatsby';

In [ ]:
UPDATE books
SET published_date = '1925-04-10'
WHERE title = 'The Great Gatsby';

In [ ]:
DELETE FROM books WHERE title = 'The Great Gatsby';

In [ ]:
DELETE FROM books WHERE title = 'The Great Gatsby';

In [ ]:
SELECT salesperson_id,
       COUNT(*) as total_sales_count,
       DENSE_RANK() OVER (ORDER BY COUNT(*) DESC) as dense_rank
FROM sales
GROUP BY salesperson_id;

In [ ]:
SELECT salesperson_id,
       sale_date,
       amount,
       ROW_NUMBER() OVER (PARTITION BY salesperson_id ORDER BY sale_date) as row
FROM sales;

In [ ]:
SELECT salesperson_id,
       EXTRACT(MONTH FROM sale_date) as month,
       EXTRACT(YEAR FROM sale_date) as year,
       amount,
       ROW_NUMBER() OVER (PARTITION BY salesperson_id, EXTRACT(MONTH FROM sale_date), EXTRACT(YEAR FROM sale_date) ORDER BY amount DESC) as row
FROM sales;