<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/11_24_2023_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
numbers = []
for i in range(1,11):
  numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
n = int(input("Enter a number: "))

total = 0

for i in range(1,n+1):
  # print(i)
  total += i
  # print(total)
print("sum:",total)

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
  print(fruit)

In [8]:
for i in range(1,21):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [9]:
num = int(input("enter a number: "))
for i in range(1,11):
  print(f"{num} x {i} = {num*i}")

enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50