<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/11_28_2023_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

print(df.head())

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [5]:
filtered_df = df[df['Age'] > 30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago

In [6]:
grouped_df = df.groupby('City').agg({'Age': 'mean'})
print(grouped_df)

              Age
City
Chicago      35.0
Los Angeles  30.0
New York     25.0

In [8]:
import numpy as np

data_with_na = {'Scores': [90, np.nan, 95, 85, np.nan]}
df_na = pd.DataFrame(data_with_na)
print(df_na)
df_na_filled = df_na.fillna(df_na.mean())
print(df_na_filled)

   Scores
0    90.0
1     NaN
2    95.0
3    85.0
4     NaN
   Scores
0    90.0
1    90.0
2    95.0
3    85.0
4    90.0

In [9]:
data2 = {'Name': ['Alice', 'Bob', 'Charlie'],
         'Salary': [70000, 80000, 90000]}
df2 = pd.DataFrame(data2)

merged_df = pd.merge(df, df2, on = 'Name')
print(merged_df)

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000