<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/11_24_2023_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
numbers = []
for i in range(1,11):
  numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
n = int(input("Enter a number: "))

total = 0

for i in range(1,n+1):
  # print(i)
  total += i
  # print(total)
print("sum:",total)

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
  print(fruit)

In [8]:
for i in range(1,21):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
num = int(input("enter a number: "))
for i in range(1,11):
  print(f"{num} x {i} = {num*i}")

In [10]:
def count_occurences(lst, element):
  count = 0
  for item in lst:
    if item == element:
      count += 1
  return count
count_occurences([1,2,3,3,4,5,6], 3)

2

In [1]:
def factorial(n):
  result = 1
  for i in range(1,n+1):
    result *= i
  return result
factorial(8)

40320

In [8]:
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**.5) + 1):
    print(range(2, int(n**.5) + 1))
    if n % i == 0:
      return False
  return True

is_prime(5)

range(2, 3)

True

In [9]:
def fib(n):
  a, b = 0, 1
  for _ in range(n):
    print(a, end = ' ')
    a, b = b, a + b
  print()
fib(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
def find_max(lst):
  max_value = lst[0]
  for num in lst:

    if num > max_value:
      max_value = num
      print(max_value)
  return max_value
find_max([1,2,3,4,5,6,7,8])

In [15]:
def char_frequency(s):
  frequency = {}
  for char in s:
    if char in frequency:
      frequency[char] += 1
    else:
      frequency[char] = 1
  return frequency
char_frequency('ddddddddddddddddddddddddddddddduelllllllllll!!!')

{'d': 31, 'u': 1, 'e': 1, 'l': 11, '!': 3}

In [1]:
def common_elements(l1,l2):
  common = []
  for element in l1:
    if element in l2:
      common.append(element)
  return common
common_elements([1,2,3,4,5,6,7],[3,4,22,223,21,11])

[3, 4]