<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/12_15_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# prompt: creata table with randomized data which would represent a bank trasaction table, populate columns with approriete randomized data

import random
import pandas as pd

# Create a dataframe with 100 rows and 5 columns
df = pd.DataFrame(columns=['customer_id', 'transaction_id', 'amount', 'date', 'type'])

# Generate random data for each column
df['customer_id'] = [random.randint(1, 100) for _ in range(100)]
df['transaction_id'] = [random.randint(100000, 999999) for _ in range(100)]
df['amount'] = [random.randint(1, 1000) for _ in range(100)]
df['date'] = [pd.datetime.now() + pd.Timedelta(days=random.randint(-30, 30)) for _ in range(100)]
df['type'] = ['debit', 'credit'] * 50

# Print the dataframe
print(df)

    customer_id  transaction_id  amount                       date    type
0            97          633107     569 2023-11-27 04:53:11.876416   debit
1            63          525362     181 2023-12-03 04:53:11.876484  credit
2            24          655549     816 2023-11-29 04:53:11.876510   debit
3            70          696155     952 2023-12-19 04:53:11.876547  credit
4            43          612092     957 2023-11-29 04:53:11.876566   debit
..          ...             ...     ...                        ...     ...
95           23          974915     365 2023-11-24 04:53:11.877918  credit
96           56          445729     516 2023-12-01 04:53:11.877933   debit
97           51          413239     567 2024-01-02 04:53:11.877947  credit
98            4          342974     905 2023-12-15 04:53:11.877961   debit
99           73          850844     517 2024-01-15 04:53:11.877973  credit

[100 rows x 5 columns]

<ipython-input-8-b8de2fe490ff>:13: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['date'] = [pd.datetime.now() + pd.Timedelta(days=random.randint(-30, 30)) for _ in range(100)]

In [ ]:
# prompt: create typical pipeline to a database use arbitrary data

import sqlite3

# Create a connection to the database
conn = sqlite3.connect('my_database.db')

# Create a cursor to execute SQL statements
cursor = conn.cursor()

# Create a table to store the data
cursor.execute('''CREATE TABLE transactions
                  (customer_id INTEGER,
                   transaction_id INTEGER,
                   amount INTEGER,
                   date DATE,
                   type TEXT)''')

# Insert the data into the table
cursor.executemany('INSERT INTO transactions VALUES (?, ?, ?, ?, ?)', df.values)

# Commit the changes to the database
conn.commit()

# Close the connection to the database
conn.close()