<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/1_14_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import sqlite3
conn = sqlite3.connect(':memory:')
c = conn.cursor()
c.execute('CREATE TABLE IF NOT EXISTS users (name TEXT, age INTEGER)')
c.execute('INSERT INTO users VALUES ("John", 30)')
c.execute('INSERT INTO users VALUES ("Jane", 25)')
c.execute('SELECT * FROM users')
print(c.fetchall())

[('John', 30), ('Jane', 25)]

In [2]:

import sqlite3

conn = sqlite3.connect(':memory:')

cursor = conn.cursor()
cursor.execute('''CREATE TABLE students (name TEXT, age INTEGER)''')

cursor.execute('''INSERT INTO students VALUES ('John', 20)''')
cursor.execute('''INSERT INTO students VALUES ('Mary', 21)''')

conn.commit()

conn.close()