<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/2_19_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
n = int(input("enter n: "))
total = 0

for i in range (1, n + 1):
  total += i
  print(total)

print("sum of first", n, "number is:", total)

enter n: 5
1
3
6
10
15
sum of first 5 number is: 15

In [6]:
cubes = [i ** 3 for i in range (1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [7]:
n = int(input("enter n: "))
for num in range(2, n + 1):
  prime = True
  for i in range(2,num):
    if (num % i) == 0:
      prime = False
      break
    if prime:
      print(num)

enter n: 11
3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11

In [ ]:
numbers = [1,2,3,4,5]
for number in numbers:
  print(number ** 2)

In [ ]:
n = int(input("enter n: "))
factorial = 1
for i in range(1, n + 1):
  factorial *= i
print(f'facotrial of {n} is {factorial}')