<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/2_1_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = [
    (1, "The Great Gatsby", "F. Scott Fitzgerald", 1925, "Fiction"),
    (2, "To Kill a Mockingbird", "Harper Lee", 1960, "Fiction"),
    (3, "1984", "George Orwell", 1949, "Dystopian"),
    (4, "Pride and Prejudice", "Jane Austen", 1813, "Romance"),
    (5, "Beloved", "Toni Morrison", 1987, "Historical Fiction"),

]

df = pd.DataFrame(data, columns=["ID", "Title", "Author", "Year", "Genre"])

print(df)

   ID                  Title               Author  Year               Genre
0   1       The Great Gatsby  F. Scott Fitzgerald  1925             Fiction
1   2  To Kill a Mockingbird           Harper Lee  1960             Fiction
2   3                   1984        George Orwell  1949           Dystopian
3   4    Pride and Prejudice          Jane Austen  1813             Romance
4   5                Beloved        Toni Morrison  1987  Historical Fiction

In [2]:
transactions = [
    {"transaction_id": 1, "product_name": "Product A", "amount": 100},
    {"transaction_id": 2, "product_name": "Product B", "amount": 150},
    {"transaction_id": 3, "product_name": "Product A", "amount": 200},
]

def summarize_sales(transactions):
    summary = {}
    for t in transactions:
        if t["product_name"] in summary:
            summary[t["product_name"]] += t["amount"]
        else:
            summary[t["product_name"]] = t["amount"]
    return summary

print(summarize_sales(transactions))

{'Product A': 300, 'Product B': 150}

In [3]:
def process_stream(records):
    totals = {}
    for record in records:
        pid = record["product_id"]
        quantity = record["quantity"]
        if pid in totals:
            totals[pid] += quantity
        else:
            totals[pid] = quantity
    return totals

records = [
    {"product_id": 1, "quantity": 4},
    {"product_id": 2, "quantity": 2},
    {"product_id": 1, "quantity": 3},
]
print(process_stream(records))

{1: 7, 2: 2}