<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/2_29_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 88]

for name, score in zip(names, scores):
    print(f"{name} scored {score}")

Alice scored 85
Bob scored 90
Charlie scored 88

In [ ]:
ascii_map = {chr(i): i for i in range(65, 91)}

In [ ]:
a, b, *rest = range(10)
a, b, *rest

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)