<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/8_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
# Create a simple DataFrame
df = spark.createDataFrame([(1, 'John', 'Doe', 30), (2, 'Jane', 'Doe', 25)], ["Id", "First Name", "Last Name", "Age"])

# Show the DataFrame content
df.show()

# Print the schema of the DataFrame
df.printSchema()

# Perform a filter operation
df.filter(df['Age'] > 28).show()

+---+----------+---------+---+
| Id|First Name|Last Name|Age|
+---+----------+---------+---+
|  1|      John|      Doe| 30|
|  2|      Jane|      Doe| 25|
+---+----------+---------+---+

root
 |-- Id: long (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Age: long (nullable = true)

+---+----------+---------+---+
| Id|First Name|Last Name|Age|
+---+----------+---------+---+
|  1|      John|      Doe| 30|
+---+----------+---------+---+