<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/9_21_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for _ in range(4):
    input()

1
2
3
4

In [3]:
inputs_list = []

for _ in range(4):
    user_input = input("Enter a value: ")
    inputs_list.append(user_input)

print(inputs_list)

Enter a value: 1
Enter a value: 2
Enter a value: 3
Enter a value: 4
['1', '2', '3', '4']

In [5]:
my_list = [1, 2, 3, 4]
length = len(my_list)
length

4

In [6]:
value = 123
print(type(value))

<class 'int'>