<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/9_23_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import datetime

def is_valid_date(date_str):
    try:
        datetime.datetime.strptime(date_str, "%d-%m-%Y")
        return True
    except ValueError:
        return False

dates = ["31-12-2020", "32-01-2020", "28-02-2021", "29-02-2021"]
valid_dates = [date for date in dates if is_valid_date(date)]
print(valid_dates)

['31-12-2020', '28-02-2021']

In [5]:
def transform_data(data):
    return {person['name']: person['age'] for person in data}

data = [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, {"name": "Charlie", "age": 35}]
transformed_data = transform_data(data)
print(transformed_data)

{'Alice': 30, 'Bob': 25, 'Charlie': 35}

In [3]:
def average_price(products):
    total_price = sum([price for _, price in products])
    return total_price / len(products)

products = [("apple", 0.5), ("banana", 0.3), ("cherry", 0.2), ("date", 0.8)]
avg = average_price(products)
print(avg)

0.45

In [4]:
print(products)

[('apple', 0.5), ('banana', 0.3), ('cherry', 0.2), ('date', 0.8)]