<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/9_28_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [2]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Carol', 'Dave', 'Eve'],
    'Age': [23, 29, 35, 24, 40],
    'Score': [85, 90, 88, 82, 95],
    'Department': ['HR', 'IT', 'HR', 'Sales', 'IT'],
    'Address': ['1234 Elm St.', '5678 Maple St.', '9101 Oak St.', '1121 Pine St.', '1314 Birch St.']
}

df = pd.DataFrame(data)

df.to_excel("data.xlsx", index=False, engine='openpyxl')

print("Excel file 'data.xlsx' created!")

Excel file 'data.xlsx' created!

In [3]:
df = pd.read_excel("data.xlsx", engine='openpyxl')
print(df.head())

   ID   Name  Age  Score Department         Address
0   1  Alice   23     85         HR    1234 Elm St.
1   2    Bob   29     90         IT  5678 Maple St.
2   3  Carol   35     88         HR    9101 Oak St.
3   4   Dave   24     82      Sales   1121 Pine St.
4   5    Eve   40     95         IT  1314 Birch St.

In [4]:
df.to_excel("output.xlsx", index=False, engine='openpyxl')

In [5]:
filtered_df = df[df['Age'] > 25]
print(filtered_df)

   ID   Name  Age  Score Department         Address
1   2    Bob   29     90         IT  5678 Maple St.
2   3  Carol   35     88         HR    9101 Oak St.
4   5    Eve   40     95         IT  1314 Birch St.

In [7]:
avg_score = df['Score'].mean()
print(avg_score)

88.0

In [ ]:
sorted_df = df.sort_values(by='Score', ascending=False)
print(sorted_df)

In [ ]:
df.drop(columns=['Address'], inplace=True)
print(df)

In [ ]:
sheet1_df = pd.read_excel("data.xlsx", sheet_name="Sheet1", engine='openpyxl')
sheet2_df = pd.read_excel("data.xlsx", sheet_name="Sheet2", engine='openpyxl')

sheet1_df.to_excel("output_sheet1.xlsx", index=False, engine='openpyxl')
sheet2_df.to_excel("output_sheet2.xlsx", index=False, engine='openpyxl')