<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/9_30_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

conn = sqlite3.connect('merch_store.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE Users (
    user_id INTEGER PRIMARY KEY,
    username TEXT NOT NULL,
    password TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    first_name TEXT,
    last_name TEXT,
    address TEXT,
    city TEXT,
    state TEXT,
    country TEXT,
    zip_code TEXT,
    phone_number TEXT,
    date_joined TEXT
)
''')

(1, 'Alice')

In [ ]:
cursor.execute('''
CREATE TABLE Products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    description TEXT,
    price REAL NOT NULL,
    stock_quantity INTEGER,
    category_id INTEGER,
    image_url TEXT
)
''')

In [ ]:
cursor.execute('''
CREATE TABLE ProductCategories (
    category_id INTEGER PRIMARY KEY,
    category_name TEXT NOT NULL UNIQUE
)
''')

In [ ]:
cursor.execute('''
CREATE TABLE Orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    date_placed TEXT,
    total_price REAL,
    shipping_address TEXT,
    status TEXT,
    FOREIGN KEY (user_id) REFERENCES Users(user_id)
)
''')

In [ ]:
cursor.execute('''
CREATE TABLE OrderItems (
    order_item_id INTEGER PRIMARY KEY,
    order_id INTEGER,
    product_id INTEGER,
    quantity INTEGER,
    price REAL,
    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
)
''')

cursor.execute('''
CREATE TABLE Payments (
    payment_id INTEGER PRIMARY KEY,
    order_id INTEGER,
    date_paid TEXT,
    amount REAL,
    payment_method TEXT,
    status TEXT,
    FOREIGN KEY (order_id) REFERENCES Orders(order_id)
)
''')

In [ ]:
cursor.execute('''
CREATE TABLE Reviews (
    review_id INTEGER PRIMARY KEY,
    product_id INTEGER,
    user_id INTEGER,
    rating INTEGER,
    comment TEXT,
    date_posted TEXT,
    FOREIGN KEY (product_id) REFERENCES Products(product_id),
    FOREIGN KEY (user_id) REFERENCES Users(user_id)
)
''')

conn.commit()
conn.close()

print("Database and tables created successfully!")