<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/basic_de.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df_csv = pd.read_csv('data.csv')

df_excel = pd.read_excel('data.xlsx')

df_json = pd.read_json('data.json')

In [ ]:
df = df.dropna()
df = df.fillna(0)

filtered_df = df[df['column'] > 10]

df['column'] = df['column'].astype(float)

In [ ]:
grouped_df = df.groupby('column').sum()

In [ ]:
df.to_csv('data_cleaned.csv')

In [ ]:
print(df.describe())
print(df.head())

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('example').getOrCreate()

df_spark = spark.read.csv('large_data.csv')

In [ ]:
import matplotlib.pyplot as plt
df['column'].plot(kind='bar')
plt.show()

In [ ]:
df['new_column'] = df['existing_column'].apply(lambda x: x * 2)

df['combined_column'] = df['col1'] + df['col2']

pivot = df.pivot_table(index='category', columns='type', values='value', aggfunc='sum')

In [ ]:
merged_df = pd.merge(df1, df2, on='common_column')
concatenated_df = pd.concat([df1, df2], axis=0)
duplicates = df[df.duplicated()]
invalid_data = df[(df['column'] < 0) | (df['column'] > 100)]