<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/basic_de.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df_csv = pd.read_csv('data.csv')

df_excel = pd.read_excel('data.xlsx')

df_json = pd.read_json('data.json')

In [ ]:
df = df.dropna()
df = df.fillna(0)

filtered_df = df[df['column'] > 10]

df['column'] = df['column'].astype(float)

In [ ]:
grouped_df = df.groupby('column').sum()

In [ ]:
df.to_csv('data_cleaned.csv')

In [ ]:
print(df.describe())
print(df.head())

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('example').getOrCreate()

df_spark = spark.read.csv('large_data.csv')

In [ ]:
import matplotlib.pyplot as plt
df['column'].plot(kind='bar')
plt.show()

In [ ]:
df['new_column'] = df['existing_column'].apply(lambda x: x * 2)

df['combined_column'] = df['col1'] + df['col2']

pivot = df.pivot_table(index='category', columns='type', values='value', aggfunc='sum')

In [ ]:
merged_df = pd.merge(df1, df2, on='common_column')
concatenated_df = pd.concat([df1, df2], axis=0)
duplicates = df[df.duplicated()]
invalid_data = df[(df['column'] < 0) | (df['column'] > 100)]

In [ ]:
import pandas as pd

def read_csv(filename):
    data = pd.read_csv(filename)
    print(data)

read_csv('data.csv')

In [ ]:
import json

data = {"name": "John", "age": 30, "city": "New York"}

with open('data.json', 'w') as f:
    json.dump(data, f)

In [ ]:
def filter_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

numbers = [1, 2, 3, 4, 5, 6]
print(filter_even_numbers(numbers))

In [ ]:
SELECT * FROM employees WHERE salary > 50000;

In [ ]:
import gzip
import shutil

with open('log.txt', 'rb') as f_in:
    with gzip.open('log.txt.gz', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [ ]:
from collections import defaultdict

def group_by_age(data):
    grouped_data = defaultdict(list)
    for name, age in data:
        grouped_data[age].append(name)
    return dict(grouped_data)

data = [("Alice", 30), ("Bob", 25), ("Eve", 30)]
print(group_by_age(data))

In [ ]:
import requests

def fetch_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    else:
        return "Error"

url = 'https://api.example.com/data'
print(fetch_data(url))

In [ ]:
import pandas as pd

def filter_dataframe(df):
    return df[df['age'] > 30]

data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 35, 45]}
df = pd.DataFrame(data)
print(filter_dataframe(df))

In [ ]:
def reverse_sentence(sentence):
    words = sentence.split()
    return ' '.join(reversed(words))

sentence = "Hello world"
print(reverse_sentence(sentence))

In [ ]:
from datetime import datetime

def print_current_date():
    print(datetime.now().strftime("%Y-%m-%d"))

print_current_date()

In [ ]:
SELECT * FROM table_name;
SELECT column1, column2 FROM table_name;
SELECT * FROM table_name WHERE condition;
SELECT DISTINCT column_name FROM table_name;
SELECT * FROM table_name ORDER BY column1 ASC, column2 DESC;

In [ ]:
SELECT COUNT(column_name) FROM table_name;
SELECT column1, COUNT(column2) FROM table_name GROUP BY column1;
SELECT * FROM table1 JOIN table2 ON table1.common_field = table2.common_field;
SELECT * FROM table_name WHERE column_name IN (SELECT column_name FROM other_table WHERE condition);
INSERT INTO table_name (column1, column2) VALUES (value1, value2);
UPDATE table_name SET column1 = value1, column2 = value2 WHERE condition;
DELETE FROM table_name WHERE condition;

In [ ]:
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype
);
ALTER TABLE table_name ADD column_name datatype;
CREATE INDEX index_name ON table_name (column_name);