<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/data_eng.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago

In [4]:
print(df['Age'])

0    24
1    27
2    22
Name: Age, dtype: int64

In [5]:
print(df[df['Age'] > 23])

    Name  Age         City
0  Alice   24     New York
1    Bob   27  Los Angeles

In [6]:
df['Years of Experience'] = [2, 6, 1]
print(df)

      Name  Age         City  Years of Experience
0    Alice   24     New York                    2
1      Bob   27  Los Angeles                    6
2  Charlie   22      Chicago                    1

In [7]:
average_age = df['Age'].mean()
print(f"Average Age: {average_age}")

Average Age: 24.333333333333332