<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Mike', 'Sarah', 'Matthew', 'Laura', 'Tom'],
    'Age': [28, 22, 32, 45, 38, 41, 50],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio']
}

df = pd.DataFrame(data)

In [2]:
df

      Name  Age          City
0     John   28      New York
1     Anna   22   Los Angeles
2     Mike   32       Chicago
3    Sarah   45       Houston
4  Matthew   38       Phoenix
5    Laura   41  Philadelphia
6      Tom   50   San Antonio

In [3]:
print(df.head(3))

   Name  Age         City
0  John   28     New York
1  Anna   22  Los Angeles
2  Mike   32      Chicago

In [4]:
print(df[df['Age'] > 30])

      Name  Age          City
2     Mike   32       Chicago
3    Sarah   45       Houston
4  Matthew   38       Phoenix
5    Laura   41  Philadelphia
6      Tom   50   San Antonio