<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/SQL_9_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!apt-get install sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
sqlite3 is already the newest version (3.37.2-2ubuntu0.1).
0 upgraded, 0 newly installed, 0 to remove and 18 not upgraded.

In [4]:
!sqlite3 test.db ".databases"

main: /content/test.db r/w

In [5]:
import sqlite3
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

In [6]:
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
''')

In [7]:
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("John", 25))
conn.commit()

In [8]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John', 25)

In [9]:
%load_ext sql

In [10]:
%sql sqlite:///test.db

In [11]:
%sql SELECT * FROM users

 * sqlite:///test.db
Done.

[(1, 'John', 25)]

In [12]:
cursor.close()
conn.close()