<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/template_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
HOST = 'your_host'
USER = 'your_user'
PASSWORD = 'your_password'
DATABASE = 'your_database'
PORT = 5432

In [ ]:
DATABASE_URI = f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"
engine = create_engine(DATABASE_URI)

In [ ]:
def extract_data(query, engine):

    data = pd.read_sql(query, engine)
    return data

In [ ]:
def transform_data(data):

    transformed_data = data.dropna()
    return transformed_data

In [ ]:
def data_pipeline(query, table_name, engine):

    data = extract_data(query, engine)
    transformed_data = transform_data(data)
    load_data(transformed_data, table_name, engine)

In [ ]:
sql_query = "SELECT * FROM your_source_table"
target_table = "your_target_table"

data_pipeline(sql_query, target_table, engine)