<a href="https://colab.research.google.com/github/GitMishka/1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT
  DATEPART(YEAR, datetime) AS year,
  DATEPART(QUARTER, datetime) AS quarter,
  SUM(sales) AS total_sales,
  SUM(price * sales) AS total_sales_value
FROM sales_table
GROUP BY DATEPART(YEAR, datetime), DATEPART(QUARTER, datetime)
ORDER BY year, quarter;

In [ ]:
WITH ranked_salespeople AS (
  SELECT
    salesman,
    SUM(price * sales) AS total_sales_value,
    RANK() OVER (ORDER BY SUM(price * sales) DESC) AS rank
  FROM sales_table
  GROUP BY salesman
)
SELECT *
FROM ranked_salespeople
WHERE rank <= 5;